<%- include("partials/header"); -%>

<h1>Compose</h1>
<textarea name="name" rows="8" cols="80"></textarea>
<br>
<button type="submit" name="publishButton">Publish</button>

<%- include("partials/footer"); -%>
