<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <label for="newBlogPostTitle">Title</label>
  <br>
  <input class="newPost" type="text" name="newBlogPostTitle" value="">
  <br><br>
  <label for="newBlogPostContent">Post</label>
  <br>
  <textarea class="newPost" id="newBlogPostContent" name="newBlogPostContent" rows="8" cols="80"></textarea>
  <br><br>
  <button class="btn btn-primary" type="submit" name="home">Publish</button>
</form>

<%- include("partials/footer"); -%>
